<!Doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale= 1.0" >
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Webi-Fi</title>

        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
        <link rel="stylesheet" href="../css/style.css" />

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

        </head>

    <body>

        <div class="navigation">
        <nav><!--NAVBAR-->
			<div class="menu-icon">
        		<i class="fas fa-bars"></i>
        	</div>
			<div class="navbar">
				<ul>
                    <div class="logo">
                        <h1><i class="fas fa-sign"></i>Webi-Fi</h1>
                    </div>
					<li><a href="index">HOME</a></li>
					<li><a href="about">ABOUT</a></li>
					<li><a href="courses">CATALOGUE</a></li>
					<li><a href="facts">FACTS</a></li>
                    <li><a href="#contact">CONTACT</a></li>
                    <% if(!currentUser){ %>
                    <li><a href="/login"><i class="far fa-user"></i></a></li>
                    <%	} else { %>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <%	} %>
				</ul>
			</div>
        </nav>
        </div>

        <br><br><br>

        <br><br><br><br>
        <!--swiper slider-->

    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url(../img/1.jpg);"></div>
            <div class="swiper-slide" style="background-image: url(../img/2.jpg);"></div>
            <div class="swiper-slide" style="background-image: url(../img/3.jpeg);"></div>
            <div class="swiper-slide" style="background-image: url(../img/4.jpg);"></div>
            <div class="swiper-slide" style="background-image: url(../img/5.jpg);"></div>
            
        <div class="swiper-pagination"></div>
    </div>



    <br><br><br><br><br><br><br><br>

        <!--CONTACT-->
        <section id="contact">

        <div class="contact">
        	<div class="container">
        	  <div class="row">
        		<div class="column">
                    <h2>Info</h2>
        			<p>45% of the amount recieved from the courses offered are sent
                        to NGOs to facilitate a better learning environment. Thank you
                        for joining us.</p>
                        <center><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
                        <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a></center>
                        <p class="pt-4 text-muted">Copyright © 2020 All rights reserved | <i class="fas fa-heart"></i></p>
        		</div>
        		<div class="column">
                    <h2>Newsletter</h2>
                    <p>Get daily updates<br>Technical ideas and aspects of web pages<br>
                        <br><br><br>
                        <center><form>
                            <a href="news" style="color: whitesmoke;">Enroll for newsletter</a>
                            <!-- <input type="email" class="form-control" id="email" placeholder="Email" name="email">
                            <button type="submit" class="btn-news">Send</button> -->
                        </form></center>
                    </p>
                </div>
                <div class="column">
                    <h2>Get in Touch</h2>
                    <p class="touch"><i class="fas fa-user-circle"></i>Team Webi-Fi<br>
                        <i class="fas fa-map-marker-alt"></i></a>Gurgaon, Delhi NCR, Haryana<br>
                        <i class="fas fa-mobile-alt"></i>+91-9889889889<br>
                        <i class="fas fa-envelope-square"></i>webi_fi@gmail.com
                    </p>
        		</div>
        	</div>
        </div>
        </div>
        </section>



    </body>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
    

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function(){
            $(".menu-icon").on("click", function(){
                $("nav ul").toggleClass("showing");
            });
        });

        $(window).on("scroll", function(){
            if($(window).scrollTop()){
                $('nav').addClass('black');
            }
            else{
                $('nav').removeClass('black');
            }
        });

    </script>

<script>
var swiper = new Swiper('.swiper-container', {
effect: 'coverflow',
grabCursor: true,
centeredSlides: true,
slidesPerView: 'auto',
coverflowEffect: {
rotate: 50,
stretch: 0,
depth: 100,
modifier: 1,
slideShadows: true,
},
pagination: {
el: '.swiper-pagination',
},

loop: true,
autoplay: {
delay: 2500,
disableOnInteraction:false,
}

});
</script>

</html>
