<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsletter</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
  <div class="news-wrapper">
  <a href="index"><h1><i class="fas fa-sign"></i>Webi-Fi</h1></a>
  <center><img src="../img/news.jpeg" height="100" width="100"></center>
    <p>Welcome! You are here because you wish to enroll for our newsletter.
        We send regular newsletters to your email id if you sign up for it.
        The newsletter revolves around everything related to web technologies
        and other domains which are frequently integrated with it! <br>
        To sign up for this wonderful series of geeky knowledge, go ahead and
        enter your email address and hit enroll!
    </p>

    <div class="form">
      <form class="news" name="news" action="/news" method="post">
        
        <input class="news-input" id = "email" type="email" name="email" placeholder="Email Address" required>
        <!--input class="btn" type="submit" value="SIGN UP"-->
        <button type="submit" class="btn"><i class="fas fa-arrow-right"></i></button>
      </form>
    </div>
    </div>


</body>
</html>